@import "variables";

body{
    background-image: url('/images/others/woodBg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

.board{
    background-image: url('/images/others/board.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
    width:$board-size;
    height:$board-size;
    @media only screen and (max-width:480px){
        width:$board-size-mobile;
        height: $board-size-mobile;
    }
    display:flex;
    align-items:center;
    flex-direction:column;   
    }
    
    .row{
        display:flex;
        height:$square-size;
        width:100%;
        @media only screen and (max-width:480px){
            height: $square-size-mobile;
        }
    }
    
    .square{
        width:$square-size;
        height:$square-size;
        @media only screen and (max-width:480px){
            height: $square-size-mobile;
            width: $square-size-mobile;
        }
        margin:0px;
        padding:0px;
        

        img{
           position:absolute;
           height:$square-size*.98;
           width: $square-size*.98;

           @media only screen and (max-width:480px){
                height: $square-size-mobile*.98;
                width: $square-size-mobile*.98;
            }
           cursor:grab;

           &:active{
               cursor: grabbing !important; 
           }
            }

    }

    @for $i from 1 to 9 {
        @for $j from 1 to 9{
          .square_#{$i}x#{$j} {
               @if ($i+$j)%2 == 0 {  background: rgba(0,0,0,0) }
               @else{  background:rgba(0,0,0,0)}

            } 
        }
    }
    
    .active{
        background: rgba($color: #f1ef67, $alpha: .5);
    }
   
    .preactive{
        background: rgba($color: #f1ef67, $alpha: .5);
    }

    .pomo{
        background-image: url('/images/pieces/hint2.png');
        opacity:.3;
        background-repeat: no-repeat;
        background-size: 40%;
        background-position:center center;
    }

    .container{
        margin-top: 0px;
        margin-left: 60px;
        display:flex;
        min-height: 0;
        @media only screen and (max-width:480px) {
            flex-direction: column;
            margin-left: 0;
            align-items: center;
        }
    }

    .rightpanel{
        display:flex;
        overflow:auto;
        min-height: 0;

        > *{
            flex: 0 0 auto;
            min-height: 0;
        }
        justify-content: flex-end;
        flex-direction: column;
        margin-top: 50px;
        border-radius: 2%;
        background:rgba(0,0,0,.2);
        backdrop-filter: blur(.05rem);
        height: $board-size;
        width: (2*$board-size)/3;
        margin-left: 30px;
        @media only screen and (max-width:480px) {
            margin-top: 20px;
            margin-left: 0px;
        }
    }

    .navigateMoves{
        margin-left: 20%;
        margin-right: 20%;
        align-items: center;
        background-color: black;
        opacity:.5;
        height: 10%;
        padding:0px;
        margin-top: 0px;
        display: flex;
        align-items: center;
        vertical-align: center;
    }
    .prebtn, .nextbtn{
        width: 100%;
        height: 100%;
        flex:1;
        border-style: none;
        background:rgba($color: #000000, $alpha: 1);
        color:white;
        vertical-align: center;
        padding:0px;
        margin: 0px;
        p{
            font-size: 17px;
            font-weight: 700;
        }
        :hover{
           background: rgba($color: #2c2929, $alpha: 1);
        }
    }
    .movelogger{
        overflow: auto;
        padding:1%;
        background:rgba($color: #201e1e, $alpha: .2);
        width:98%;
        height:88%;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
        display:block;
        color: #d6cbcb;
        font-family: monospace;
        font-size: 14px;
    }

    .rowindex{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        overflow: hidden;
        flex-shrink: 1;
        width:10px;
        color:rgb(179, 170, 170);
        @media only screen and (max-width:480px){
            height: $board-size-mobile;
        }
        &_child{
            margin-right: 2px;
            flex-shrink: 1;
            width: 10px;
            text-align: center;
        }
    }
.colmindex{
    display: flex;
    height:10px;
    color:rgb(179, 170, 170);
    &_child{
        z-index:2;
        margin-top:1px;
        height:10px;
        flex:1;
        text-align: center;
    }
}

.logmove{
    padding:0px;
    background:rgba($color: #000000, $alpha: 0);
    color:rgb(179, 170, 170);
    border:0px;
}

.logmove:hover{
    cursor: pointer;
    background-color: rgb(79, 79, 236);
    border-radius: 2px;
    padding:2px;
}

.timer{
    height:488px;
    width:70px;
    background-color: black;

}

.player-1,.player-2{
    display:flex;
    align-items: center;
    width:$board-size;
    @media only screen and (max-width:480px){
        width: $board-size-mobile;
    }
    height: 40px;
    background-color: rgba($color: #000000, $alpha: .3);
}
.player-1{
    margin-bottom: 0px;
}
.player-2{
    margin-top: 10px;
}
.indx_board{
    display: flex;

}
.pp{
    z-index: 5;
    background-color: white;
    border-radius: 5%;
    position: absolute;
    left:120px;
    top:120px;
    display: flex;
    flex-direction: column;
}

.dialogue{
    box-shadow: 5px 8px rgba($color: #000000, $alpha: .6);
    border: 1px solid rgba($color: #000000, $alpha: .3);
    border-radius: 0px;
    margin: 15px;
    padding: 5px;
    color: #e3e6dc;
    font-size: large;
    font-family: fangsong;
    background-color: rgba($color: #000000, $alpha: .3);
}

.dialogue span{
    opacity: 0;
}
.dialogue span.revealed{
    opacity: 1;
}

.rowindex_span, .colindex_span{
    font-size: .8125rem;
}

.rowindex_span{
    position: absolute;
    left:-10px;
    margin-top: $square-size/2;
    color:wheat;
    @media only screen and (max-width:480px){
        margin-top: $square-size-mobile/2;
    }
}

.colindex_span{
    position: absolute;
    bottom: -18px;
    color:wheat;
    margin-left: $square-size/2;
    @media only screen and (max-width:480px){
        margin-left: $square-size-mobile/2;
    }
}

.board_player_wrapper{
    display: flex;
    flex-direction: column;
}