$black-box: rgb(100, 68, 31);
$white-box:rgb(154, 199, 195);
$board-size: 450px;
$board-size-mobile:90vw;
$square-size-mobile:$board-size-mobile/8;
$square-size: $board-size/8;
$movelogger-padding:15px;

 